body {
	background-image: url('../img/background.png');
}

#bemvindo, #intro, #caminho {
	padding-top: 80px;
	margin: auto;
	width: 50%;
}

#entrada, #mundo {
	margin: auto;
	width: 70%;
}

#mapa {
  position: absolute;
  right: 10px;
  height: 400px;
}

#palco {
  position: absolute;
  width: 925px;
}

#palco .panel-body {
  height: 415px;
}

.black {
    position: absolute;
    background: black;
    width: 49px;
    height: 49px;
    border-radius: 25px;
    opacity: 0.70
}

.boss {
	background-image: url('../img/boss.png');
	position: absolute;
    height: 60px;
    width: 54px;
}

.yellow {
    position: absolute;
    background: yellow;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.red {
    position: absolute;
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.alfa {
    position: absolute;
    background: #CCC;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    opacity: 0.30
}

#personagens {
	padding-top: 80px;
	margin: auto;
	width: 55%;
}

#disponivel {
	margin: auto;
	display: flex;
}

.person {
	width: 110px;
}

.imgPerson {
	height: 150px;
	width: 100px;
}

.slot {
	float: left;
	border: 2px solid red;
	width: 110px;
	height: 156px;
	margin-left: 90px;
    margin-top: 20px;
}

.escolhido {
    opacity: 0.3;
}

.shadow {
	box-shadow: 7px 7px 5px #888;
}

.status {
	position: absolute;
    top: 60px;
    right: 228px;
}

.status img {
	width: 75px;
}

.imagem {
    position: relative;
    right: -125px;
}

.mao {
    position: absolute;
    right: 308px;
    width: 9%;
    z-index: 51;
}

#mao1 {
    top: 94px;
}

#mao2 {
    top: 230px;
}

#mao3 {
    top: 348px;
}

.evento {
    z-index: 50;
    position: absolute;
    float: left;
}

.gas {
    left: 110px;
    width: 50%;
    top: 40px;
}

.seta {
    left: 220px;
    width: 20%;
    top: 158px;
}

.alcapao {
    left: 230px;
    width: 20%;
    top: 210px;
}

.osso {
    left: 222px;
    top: 222px;
    width: 15%;
}

.pocao {
    left: 260px;
    top: 222px;
    width: 10%;
}

.ouro {
    left: 240px;
    top: 222px;
    width: 15%;
}

.joias {
    left: 225px;
    top: 222px;
    width: 15%;
}

.comida {
    left: 222px;
    top: 222px;
    width: 15%;
}

.chave {
    left: 222px;
    top: 222px;
    width: 15%;
}

.orc {
    left: 222px;
    top: 195px;
}

.alfa-armadilha {
	opacity: 0.8;
}

.info {
    float: right;
    position: relative;
    right: -135px;
    top: 0px;
}

.po, .pv {
	width: 35px;
}