body {
	background-image: url('../img/background.png');
}

#bemvindo, #intro, #caminho {
	padding-top: 80px;
	margin: auto;
	width: 50%;
}

#entrada, #mundo {
	margin: auto;
	width: 70%;
}

#mapa {
  position: absolute;
  right: 10px;
  height: 400px;
}

#palco {
  position: absolute;
  width: 925px;
}

#palco .panel-body {
  height: 484px;
}

.black {
    position: absolute;
    background: black;
    width: 49px;
    height: 49px;
    border-radius: 25px;
    opacity: 0.88
}

.yellow {
    position: absolute;
    background: yellow;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.alfa {
    position: absolute;
    background: #CCC;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    opacity: 0.35
}

#personagens {
	padding-top: 80px;
	margin: auto;
	width: 55%;
}

#disponivel {
	margin: auto;
	display: flex;
}

.person {
	width: 110px;
}

.imgPerson {
	height: 150px;
	width: 100px;
}

.slot {
	float: left;
	border: 2px solid red;
	width: 110px;
	height: 156px;
	margin-left: 90px;
    margin-top: 20px;
}

.escolhido {
    opacity: 0.3;
}

.shadow {
	box-shadow: 7px 7px 5px #888;
}

.status {
	position: absolute;
    top: 80px;
    right: 228px;
}

.status img {
	width: 75px;
}

.imagem {
    position: relative;
    right: -125px;
}

.armadilha {
	background-image: url("../img/atencao.png");
    z-index: 50;
    position: absolute;
    float: left;
}

.alfa-armadilha {
	opacity: 0.8;
}

.info {
    float: right;
    position: relative;
    right: -135px;
    top: 0px;
}

.po, .pv {
	width: 35px;
}