body {
	background-image: url('../img/background.png');
}

#bemvindo, #intro, #caminho {
	padding-top: 80px;
	margin: auto;
	width: 50%;
}

#mapa, #entrada {
	margin: auto;
	width: 70%;
}

#personagens {
	padding-top: 80px;
	margin: auto;
	width: 55%;
}

#disponivel {
	margin: auto;
	display: flex;
}

.person {
	width: 110px;
}

.imgPerson {
	height: 150px;
	width: 100px;
}

.slot {
	float: left;
	border: 2px solid red;
	width: 110px;
	height: 156px;
	margin-left: 90px;
    margin-top: 20px;
}

.escolhido {
    opacity: 0.3;
}

.shadow {
	box-shadow: 7px 7px 5px #888;
}